*{
  /*border: 1px solid red;*/
}

html{
  box-sizing: border-box;
}

header{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

h1{
  text-align: center;
}

body{
  background-color: darkgrey;
}

.user-info,.change-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 20 auto;
  padding: 20px;
  flex-direction: column;
  border: 2px solid black;
}


#change-due{
  white-space: pre;
  text-align: center;
  display: block;
}

#change-left{
  display: flex;
  flex-direction: column;
  text-align: center;
}


input{
  text-align: center;
}

button{
  width: 100%;
  background-color: gold;
  font-weight: bold;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

